/* Styles personnalisés pour la justification du texte */
.text-justify {
    text-align: justify;
  }
  /* Styles personnalisés pour les boutons de la page formation */
  .nav-pills .nav-link-formation.active, .nav-pills .show>.nav-link {
    color: #101820 !important;
    background-color: #9678D3 !important;
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: x-large !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    text-decoration: none !important;
  }
  
  .nav-link-formation {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: x-large !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    background-color: #101820 !important;
  }

  .titre-sidebar{
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: x-large !important;
    font-weight: 600 !important;
    color: #ffffff;
  }

  .button{
    background-color: #9678D3 !important; 
    font-size: x-large !important;
    font-weight: 600 !important;
    color: #ffffff !important; 
  }


  .button:hover{
    background-color: transparent !important; 
    color: #9678D3 !important; 
  }


  a:hover{
    color: #9678D3 !important;
  }

  .text-violet{
    color: #9678D3;
  }
  .logo-banner {
    position: relative;
    z-index: 1;
    text-align: right;
    color: #fff;
    top: -108vh;
    padding: 50px;
    max-width: 25em;
  }
  #formations{color: white;}