/* HEADER */

 /* Couleurs personnalisées */
 .bg-custom-black {
    background-color: #101820; /* Remplacez par votre couleur personnalisée */
  }
  .bg-custom-purple {
    background-color: #9678D3; /* Remplacez par votre couleur personnalisée */
  }

  .txt-color-black{
    color:#101820
  }
  .txt-color-purple{
    color:#9678D3
  }
.with{
  max-width: 20%!important;
}
  .bg-custom-grey {
    background-color: #EAEDF1; /* Remplacez par votre couleur personnalisée */
  }

  .button-nav-font{
    font-family: "Roboto Condensed", sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-decoration: none;
    text-decoration: none;
  }
/* FIN HEADER */


