/* HEADER */
.logo{
    max-width: 35%;
}

 /* Couleurs personnalisées */
 .bg-custom-black {
    background-color: #101820; /* Remplacez par votre couleur personnalisée */
  }
  .bg-custom-purple {
    background-color: #9678D3; /* Remplacez par votre couleur personnalisée */
  }

  .txt-color-black{
    color:#101820
  }

  .bg-custom-grey {
    background-color: #a9a9a9; /* Remplacez par votre couleur personnalisée */
  }
/* FIN HEADER */


