



/* Content */
.txt-font {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 325%;
    font-weight: 700;
  
  
  }
  
  .txt-font-h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 215%;
    font-weight: 700;
  
  
  }



  /* card */
.card-title{
  font-family: "Roboto Condensed", sans-serif;
  font-size: x-large;
  font-weight: 600;

}
.none{
  text-decoration: none;
}
.card:hover{
  box-shadow :0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.bg-fixed{
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button-font{
  font-family: "Roboto Condensed", sans-serif;
  font-size: x-large;
  font-weight: 600;
  text-decoration: none;
  text-decoration: none;
}

.button-font:hover{
  color: #9678D3;
  background-color: transparent;
  background-color: transparent;
}